<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>section2</title>

    <script src="js/Angular.js"></script>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>


<nav>
    <div>
        <img src="img/logo.png" alt="logo">
        <ul>
            <li><a href="index.html">صفحه اصلی</a></li>
            <li><a id="border" href="listdoros.html">لیست دروس</a></li>
            <li><a href="#">خبرنامه</a></li>
            <li><a href="#">درباره ما</a></li>
        </ul>
    </div>
    <div>
        <a href="#"><i class="fa fa-user"></i>ورود</a>
        <hr>
        <a href="#"><i class="fas fa-user-plus"></i>ثبت نام</a>
    </div>
</nav>
<span id="jvb"></span>
<a id="bargasht" href="listdoros.html">بازگشت به صفحه قبلی</a>

<section id="list" ng-app ng-controller="mycontroller">
    <div id="filter">
        <input class="filter" type="text" ng-model="filter.name" placeholder="جست و جو نام دوره">
        <input class="filter" type="text" ng-model="filter.date" placeholder="جست و جو تاریخ شروع">
        <input class="filter" type="text" ng-model="filter.time" placeholder="جست و جو ساعت دوره">
    </div>
    <div ng-repeat="n in doros | filter:filter">
        <img ng-src="{{n.imgUrl}}" alt="dore">
        <h3>نام دوره :{{n.name}}</h3>
        <h3>تاریخ شروع: {{n.date}}</h3>
        <h3>ساعت:{{n.time}} </h3>
        <input ng-click="jax(n)" class="sabtenam" type="submit" value="ثبت نام">
    </div>


</section>


<script>
    let jvb = document.querySelector("#jvb");
    let section = document.querySelector("section");

    let bargasht = document.querySelector("#bargasht");

    function mycontroller($scope) {
        $scope.doros = [
            {imgUrl:"img/students.jpg",name: "c", date: "98/10/8", time: "9-12",},
            {imgUrl:"img/dore.png",name:"c++", date: "98/11/4", time: "12-15"},
            {imgUrl:"img/students.jpg",name: "java", date: "98/4/5", time: "13-16"},
            {imgUrl:"img/dore.png",name: "php", date: "98/7/9", time: "9-12"},
            {imgUrl:"img/dore.png",name: "HTML", date: "99/1/2", time: "10-13"},
            {imgUrl:"img/students.jpg",name: "css", date: "98/3/5", time: "7-10"},
            {imgUrl:"img/students.jpg",name: "javascript", date: "98/5/8", time: "15-18"},
            {imgUrl:"img/dore.png",name: "php", date: "98/8/8", time: "18-21"},
            {imgUrl:"img/students.jpg",name: "mysql", date: "98/3/21", time: "12-15"},
            {imgUrl:"img/dore.png",name: "asp.net", date: "98/6/29", time: "13-17"},
            {imgUrl:"img/students.jpg",name: "seo", date: "98/5/20", time: "11-14"}
        ]
        $scope.jax=function(courselist) {
            let ajax = new XMLHttpRequest();
            console.log(ajax);
            let url = 'https://mmg.ir/ajax/add.php';
            ajax.open('post', url, true);
            console.log(ajax);
            ajax.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let jason = JSON.parse(this.responseText);
                    let natije = jason.result;

                    if (natije === "no") {
                        jvb.innerHTML = "ثبت نام موفقیت آمیز بود";
                        section.classList.add("fadeout");
                        bargasht.classList.add("show")
                        window.scrollTo(0, 0);
                    } else {
                        jvb.innerHTML = "ثبت نام با خطا مواجهه گردید";
                        section.classList.add("fadeout");
                        window.scrollTo(0, 0);

                    }
                }
            }


            let data=JSON.stringify(courselist);
            ajax.send(data);
            //data ro mifrstim
        }
    }







</script>
</body>
</html>